*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  padding: 0;
  margin: 0 auto;
}

div.text {
  background: yellow;
  text-align: center;
}

.row .col-sm-6 {
  padding: 0;
  width: auto;
  float: left;
  font-family: sans-serif;
}

#top {
  background-image: url('../img/people1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  position: relative;
}

#left {
  background-image: url('../img/people3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 50%;
  float: left;
  position: relative;
}

#right {
  background-image: url('../img/people3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 50%;
  float: right;
  position: relative;
}

@media screen and (min-width: 924px) and (min-width: 1300px) {
  #top {
    max-width: 50%;
  }
  #left, #right {
    max-width: 50%;
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }
  #first, #second {
    width: 50%;
  }
}

@media screen and (max-width: 525px){
  #left {
    position: relative;
    width: 100%;
  }
  #right {
    position: relative;
    width: 100%;
  }
  #topText {
    bottom: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1300px) {
  #top {
    max-width: 50%;
  }
  #left, #right {
    max-width: 50%;
    height: 250px;
  }
}
